[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
gunicorn = "*"
djangorestframework = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
django-cors-headers = "*"
django-stubs = {version = "*", extras = ["compatible-mypy"]}

[requires]
python_version = "3.10"
